In [1]:
import pandas as pd

In [2]:
# get url for data scrape
url = 'https://www.basketball-reference.com/playoffs/'

In [6]:
# read tables from the url
tables = pd.read_html(url)
tables

[   Unnamed: 0_level_0 Unnamed: 1_level_0                 Finals  \
                  Year                 Lg               Champion
 0              2020.0                NBA     Los Angeles Lakers
 1              2019.0                NBA        Toronto Raptors
 2              2018.0                NBA  Golden State Warriors
 3              2017.0                NBA  Golden State Warriors
 4              2016.0                NBA    Cleveland Cavaliers
 ..                ...                ...                    ...
 82             1950.0                NBA     Minneapolis Lakers
 83                NaN                NaN                    NaN
 84             1949.0                BAA     Minneapolis Lakers
 85             1948.0                BAA      Baltimore Bullets
 86             1947.0                BAA  Philadelphia Warriors

                                       Unnamed: 5_level_0  \
                 Runner-Up  Finals MVP Unnamed: 5_level_1
 0              Miami Heat    L. James                NaN
 1   Golden State Warriors  K. Leonard                NaN
 2     Cleveland Cavaliers   K. Durant                NaN
 3     Cleveland Cavaliers   K. Durant                NaN
 4   Golden State Warriors    L. James                NaN
 ..                    ...         ...                ...
 82     Syracuse Nationals         NaN                NaN
 83                    NaN         NaN                NaN
 84    Washington Capitols         NaN                NaN
 85  Philadelphia Warriors         NaN                NaN
 86          Chicago Stags         NaN                NaN

    Playoffs Top Performers                                      \
                     Points        Rebounds             Assists
 0           A. Davis (582)  L. James (226)      L. James (184)
 1         K. Leonard (732)  D. Green (223)      D. Green (187)
 2           L. James (748)  D. Green (222)      L. James (198)
 3           L. James (591)   K. Love (191)      L. James (141)
 4        K. Thompson (582)  D. Green (228)  R. Westbrook (198)
 ..                     ...             ...                 ...
 82          G. Mikan (376)             NaN     J. Pollard (56)
 83                     NaN             NaN                 NaN
 84          G. Mikan (303)             NaN     J. Pollard (39)
 85          J. Fulks (282)             NaN     H. Dallmar (37)
 86          J. Fulks (222)             NaN     H. Dallmar (16)


           Win Shares
 0     A. Davis (4.5)
 1   K. Leonard (4.9)
 2     L. James (5.2)
 3     L. James (4.3)
 4     L. James (4.7)
 ..               ...
 82    G. Mikan (3.7)
 83               NaN
 84    G. Mikan (4.2)
 85  C. Simmons (2.5)
 86    J. Fulks (2.3)

 [87 rows x 10 columns]]

In [7]:
# put first table into a dataframe and check what columns are in each level
df = tables[0]
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0                 Finals  \
                Year                 Lg               Champion
0             2020.0                NBA     Los Angeles Lakers
1             2019.0                NBA        Toronto Raptors
2             2018.0                NBA  Golden State Warriors
3             2017.0                NBA  Golden State Warriors
4             2016.0                NBA    Cleveland Cavaliers

                                     Unnamed: 5_level_0  \
               Runner-Up  Finals MVP Unnamed: 5_level_1
0             Miami Heat    L. James                NaN
1  Golden State Warriors  K. Leonard                NaN
2    Cleveland Cavaliers   K. Durant                NaN
3    Cleveland Cavaliers   K. Durant                NaN
4  Golden State Warriors    L. James                NaN

  Playoffs Top Performers                                      \
                   Points        Rebounds             Assists
0          A. Davis (582)  L. James (226)      L. James (184)
1        K. Leonard (732)  D. Green (223)      D. Green (187)
2          L. James (748)  D. Green (222)      L. James (198)
3          L. James (591)   K. Love (191)      L. James (141)
4       K. Thompson (582)  D. Green (228)  R. Westbrook (198)


         Win Shares
0    A. Davis (4.5)
1  K. Leonard (4.9)
2    L. James (5.2)
3    L. James (4.3)
4    L. James (4.7)

In [8]:
# this command was in Lecture 12, day 2, activity #9 & #10 to see what columns are at different levels
df.columns.get_level_values(0)

Index(['Unnamed: 0_level_0', 'Unnamed: 1_level_0', 'Finals', 'Finals',
       'Finals', 'Unnamed: 5_level_0', 'Playoffs Top Performers',
       'Playoffs Top Performers', 'Playoffs Top Performers',
       'Playoffs Top Performers'],
      dtype='object')

In [9]:
# checking next level if it has the column headers I want
df.columns.get_level_values(1)

Index(['Year', 'Lg', 'Champion', 'Runner-Up', 'Finals MVP',
       'Unnamed: 5_level_1', 'Points', 'Rebounds', 'Assists', 'Win Shares'],
      dtype='object')

In [10]:
# used droplevel to remove level at index 0. Once i ran it it was done and can't drop it again.
df = df.droplevel(0, axis=1)
df.head()

,Year,Lg,Champion,Runner-Up,Finals MVP,Unnamed: 5_level_1,Points,Rebounds,Assists,Win Shares
0,2020.0,NBA,Los Angeles Lakers,Miami Heat,L. James,NaN,A. Davis (582),L. James (226),L. James (184),A. Davis (4.5)
1,2019.0,NBA,Toronto Raptors,Golden State Warriors,K. Leonard,NaN,K. Leonard (732),D. Green (223),D. Green (187),K. Leonard (4.9)
2,2018.0,NBA,Golden State Warriors,Cleveland Cavaliers,K. Durant,NaN,L. James (748),D. Green (222),L. James (198),L. James (5.2)
3,2017.0,NBA,Golden State Warriors,Cleveland Cavaliers,K. Durant,NaN,L. James (591),K. Love (191),L. James (141),L. James (4.3)
4,2016.0,NBA,Cleveland Cavaliers,Golden State Warriors,L. James,NaN,K. Thompson (582),D. Green (228),R. Westbrook (198),L. James (4.7)

In [11]:
# now that unamed row was removed, we now want to remove 'unnamed' columns with NaN values in the dataframe 
# found solution here: https://stackoverflow.com/questions/43983622/remove-unnamed-columns-in-pandas-dataframe/43983654 see 5 & 6
df.rename({"Unnamed: 5_level_1":"a"}, axis="columns", inplace=True)
df.drop(["a"], axis=1, inplace=True)
df.head

,Year,Lg,Champion,Runner-Up,Finals MVP,Points,Rebounds,Assists,Win Shares
0,2020.0,NBA,Los Angeles Lakers,Miami Heat,L. James,A. Davis (582),L. James (226),L. James (184),A. Davis (4.5)
1,2019.0,NBA,Toronto Raptors,Golden State Warriors,K. Leonard,K. Leonard (732),D. Green (223),D. Green (187),K. Leonard (4.9)
2,2018.0,NBA,Golden State Warriors,Cleveland Cavaliers,K. Durant,L. James (748),D. Green (222),L. James (198),L. James (5.2)
3,2017.0,NBA,Golden State Warriors,Cleveland Cavaliers,K. Durant,L. James (591),K. Love (191),L. James (141),L. James (4.3)
4,2016.0,NBA,Cleveland Cavaliers,Golden State Warriors,L. James,K. Thompson (582),D. Green (228),R. Westbrook (198),L. James (4.7)

In [32]:
# drop rows with NaN in them
df = df.dropna()

In [36]:
df.dtypes

Year           int64
Lg            object
Champion      object
Runner-Up     object
Finals MVP    object
Points        object
Rebounds      object
Assists       object
Win Shares    object
dtype: object

In [35]:
df['Year'] = df['Year'].astype(int)

<ipython-input-35-91b4af12fd7e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Year'].astype(int)

In [37]:
df.head()

,Year,Lg,Champion,Runner-Up,Finals MVP,Points,Rebounds,Assists,Win Shares
0,2020,NBA,Los Angeles Lakers,Miami Heat,L. James,A. Davis (582),L. James (226),L. James (184),A. Davis (4.5)
1,2019,NBA,Toronto Raptors,Golden State Warriors,K. Leonard,K. Leonard (732),D. Green (223),D. Green (187),K. Leonard (4.9)
2,2018,NBA,Golden State Warriors,Cleveland Cavaliers,K. Durant,L. James (748),D. Green (222),L. James (198),L. James (5.2)
3,2017,NBA,Golden State Warriors,Cleveland Cavaliers,K. Durant,L. James (591),K. Love (191),L. James (141),L. James (4.3)
4,2016,NBA,Cleveland Cavaliers,Golden State Warriors,L. James,K. Thompson (582),D. Green (228),R. Westbrook (198),L. James (4.7)

In [39]:
# exporting nba_finals dataframe to html
df.to_html("nba_finals.htm", index=False)
html_file = df.to_html()

In [ ]:
df = df[df.iloc[:,0] > 2004]
winners = df.iloc[:,[0,2]]
# winners['Finals'].value_counts()
winners

In [ ]:
df = df[df.iloc[:,0] > 2004]
losers = df.iloc[:,[0,3]]
# winners['Finals'].value_counts()
losers

In [43]:
# read in the csv
draft = pd.read_csv('Resources/NBA_Full_Draft_1947-2018.csv')

In [45]:
# rename the unnamed column to 'a' so I can delete the column
draft.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)
draft.drop(["a"], axis=1, inplace=True)

In [53]:
draft = draft.sort_values(by=['Year','Pick'], ascending=[False, True])
# draft = draft.sort_values(by='Pick')
draft = draft[draft['Year'] > 1990]
draft

,Team,Player,College,Play_Yrs,Games,Year,Pick
7903,PHO,Deandre Ayton,University of Arizona,1.0,9.0,2018,1
7904,SAC,Marvin Bagley,Duke University,1.0,10.0,2018,2
7905,ATL,Luka Doncic,NaN,1.0,9.0,2018,3
7906,MEM,Jaren Jackson,Michigan State University,1.0,8.0,2018,4
7907,DAL,Trae Young,University of Oklahoma,1.0,9.0,2018,5
...,...,...,...,...,...,...,...
6378,PHO,Joey Wright,University of Texas at Austin,NaN,NaN,1991,50
6379,HOU,Zan Tabak,NaN,6.0,247.0,1991,51
6380,LAL,Anthony Jones,Oral Roberts University,NaN,NaN,1991,52
6381,NJN,Von McDade,University of Wisconsin-Milwaukee,NaN,NaN,1991,53
6382,POR,Marcus Kennedy,Eastern Michigan University,NaN,NaN,1991,54

In [54]:
# exporting nba draft csv to html
draft.to_html("draft.htm", index=False)
html_file = draft.to_html()