In [1]:
import pandas as pd

In [2]:
url = 'https://www.basketball-reference.com/playoffs/'

In [4]:
tables = pd.read_html(url)
tables

[   Unnamed: 0_level_0 Unnamed: 1_level_0                 Finals  \
                  Year                 Lg               Champion
 0              2020.0                NBA     Los Angeles Lakers
 1              2019.0                NBA        Toronto Raptors
 2              2018.0                NBA  Golden State Warriors
 3              2017.0                NBA  Golden State Warriors
 4              2016.0                NBA    Cleveland Cavaliers
 ..                ...                ...                    ...
 82             1950.0                NBA     Minneapolis Lakers
 83                NaN                NaN                    NaN
 84             1949.0                BAA     Minneapolis Lakers
 85             1948.0                BAA      Baltimore Bullets
 86             1947.0                BAA  Philadelphia Warriors

                                       Unnamed: 5_level_0  \
                 Runner-Up  Finals MVP Unnamed: 5_level_1
 0              Miami Heat    L. James                NaN
 1   Golden State Warriors  K. Leonard                NaN
 2     Cleveland Cavaliers   K. Durant                NaN
 3     Cleveland Cavaliers   K. Durant                NaN
 4   Golden State Warriors    L. James                NaN
 ..                    ...         ...                ...
 82     Syracuse Nationals         NaN                NaN
 83                    NaN         NaN                NaN
 84    Washington Capitols         NaN                NaN
 85  Philadelphia Warriors         NaN                NaN
 86          Chicago Stags         NaN                NaN

    Playoffs Top Performers                                      \
                     Points        Rebounds             Assists
 0           A. Davis (582)  L. James (226)      L. James (184)
 1         K. Leonard (732)  D. Green (223)      D. Green (187)
 2           L. James (748)  D. Green (222)      L. James (198)
 3           L. James (591)   K. Love (191)      L. James (141)
 4        K. Thompson (582)  D. Green (228)  R. Westbrook (198)
 ..                     ...             ...                 ...
 82          G. Mikan (376)             NaN     J. Pollard (56)
 83                     NaN             NaN                 NaN
 84          G. Mikan (303)             NaN     J. Pollard (39)
 85          J. Fulks (282)             NaN     H. Dallmar (37)
 86          J. Fulks (222)             NaN     H. Dallmar (16)


           Win Shares
 0     A. Davis (4.5)
 1   K. Leonard (4.9)
 2     L. James (5.2)
 3     L. James (4.3)
 4     L. James (4.7)
 ..               ...
 82    G. Mikan (3.7)
 83               NaN
 84    G. Mikan (4.2)
 85  C. Simmons (2.5)
 86    J. Fulks (2.3)

 [87 rows x 10 columns]]

In [43]:
df = tables[0]
df

   Unnamed: 0_level_0 Unnamed: 1_level_0                 Finals  \
                 Year                 Lg               Champion
0              2020.0                NBA     Los Angeles Lakers
1              2019.0                NBA        Toronto Raptors
2              2018.0                NBA  Golden State Warriors
3              2017.0                NBA  Golden State Warriors
4              2016.0                NBA    Cleveland Cavaliers
..                ...                ...                    ...
82             1950.0                NBA     Minneapolis Lakers
83                NaN                NaN                    NaN
84             1949.0                BAA     Minneapolis Lakers
85             1948.0                BAA      Baltimore Bullets
86             1947.0                BAA  Philadelphia Warriors

                                      Unnamed: 5_level_0  \
                Runner-Up  Finals MVP Unnamed: 5_level_1
0              Miami Heat    L. James                NaN
1   Golden State Warriors  K. Leonard                NaN
2     Cleveland Cavaliers   K. Durant                NaN
3     Cleveland Cavaliers   K. Durant                NaN
4   Golden State Warriors    L. James                NaN
..                    ...         ...                ...
82     Syracuse Nationals         NaN                NaN
83                    NaN         NaN                NaN
84    Washington Capitols         NaN                NaN
85  Philadelphia Warriors         NaN                NaN
86          Chicago Stags         NaN                NaN

   Playoffs Top Performers                                      \
                    Points        Rebounds             Assists
0           A. Davis (582)  L. James (226)      L. James (184)
1         K. Leonard (732)  D. Green (223)      D. Green (187)
2           L. James (748)  D. Green (222)      L. James (198)
3           L. James (591)   K. Love (191)      L. James (141)
4        K. Thompson (582)  D. Green (228)  R. Westbrook (198)
..                     ...             ...                 ...
82          G. Mikan (376)             NaN     J. Pollard (56)
83                     NaN             NaN                 NaN
84          G. Mikan (303)             NaN     J. Pollard (39)
85          J. Fulks (282)             NaN     H. Dallmar (37)
86          J. Fulks (222)             NaN     H. Dallmar (16)


          Win Shares
0     A. Davis (4.5)
1   K. Leonard (4.9)
2     L. James (5.2)
3     L. James (4.3)
4     L. James (4.7)
..               ...
82    G. Mikan (3.7)
83               NaN
84    G. Mikan (4.2)
85  C. Simmons (2.5)
86    J. Fulks (2.3)

[87 rows x 10 columns]

In [11]:
df.dtypes

Unnamed: 0_level_0       Year                  float64
Unnamed: 1_level_0       Lg                     object
Finals                   Champion               object
                         Runner-Up              object
                         Finals MVP             object
Unnamed: 5_level_0       Unnamed: 5_level_1    float64
Playoffs Top Performers  Points                 object
                         Rebounds               object
                         Assists                object
                         Win Shares             object
dtype: object

In [19]:
df.index.names

FrozenList([None])

In [65]:
df = df[df.iloc[:,0] > 2004]
winners = df.iloc[:,[0,2]]
# winners['Finals'].value_counts()
winners

   Unnamed: 0_level_0                 Finals
                 Year               Champion
0              2020.0     Los Angeles Lakers
1              2019.0        Toronto Raptors
2              2018.0  Golden State Warriors
3              2017.0  Golden State Warriors
4              2016.0    Cleveland Cavaliers
5              2015.0  Golden State Warriors
6              2014.0      San Antonio Spurs
7              2013.0             Miami Heat
8              2012.0             Miami Heat
9              2011.0       Dallas Mavericks
10             2010.0     Los Angeles Lakers
11             2009.0     Los Angeles Lakers
12             2008.0         Boston Celtics
13             2007.0      San Antonio Spurs
14             2006.0             Miami Heat
15             2005.0      San Antonio Spurs

In [66]:
df = df[df.iloc[:,0] > 2004]
losers = df.iloc[:,[0,3]]
# winners['Finals'].value_counts()
losers

   Unnamed: 0_level_0                 Finals
                 Year              Runner-Up
0              2020.0             Miami Heat
1              2019.0  Golden State Warriors
2              2018.0    Cleveland Cavaliers
3              2017.0    Cleveland Cavaliers
4              2016.0  Golden State Warriors
5              2015.0    Cleveland Cavaliers
6              2014.0             Miami Heat
7              2013.0      San Antonio Spurs
8              2012.0  Oklahoma City Thunder
9              2011.0             Miami Heat
10             2010.0         Boston Celtics
11             2009.0          Orlando Magic
12             2008.0     Los Angeles Lakers
13             2007.0    Cleveland Cavaliers
14             2006.0       Dallas Mavericks
15             2005.0        Detroit Pistons