In [1]:
# Import Dependencies
import os
from sqlalchemy import create_engine, inspect
import pandas as pd
from matplotlib import pyplot as plt

# Import password from config file
from config import password

In [4]:
file = os.path.join('Resources', 'finals_roster.csv')
roster = pd.read_csv(file)
roster

,Unnamed: 0,no,player,pos,wt,birth_date,nationality,exp,college,year,team,result
0,0,17,Brent Barry,SG,185,31-Dec-71,us,9,Oregon State,2005,SAS,win
1,1,12,Bruce Bowen,SF,185,14-Jun-71,us,8,Cal State Fullerton,2005,SAS,win
2,2,23,Devin Brown,SG,220,30-Dec-78,us,2,Texas-San Antonio,2005,SAS,win
3,3,21,Tim Duncan,PF,250,25-Apr-76,vi,7,Wake Forest,2005,SAS,win
4,4,20,Manu Ginóbili,SG,205,28-Jul-77,ar,2,NaN,2005,SAS,win
...,...,...,...,...,...,...,...,...,...,...,...,...
365,365,4,Iman Shumpert,SG,215,26-Jun-90,us,3,Georgia Tech,2015,CLE,lost
366,366,5,J.R. Smith,SG,225,9-Sep-85,us,10,NaN,2015,CLE,lost
367,367,13,Tristan Thompson,PF,254,13-Mar-91,ca,3,Texas,2015,CLE,lost
368,368,17,Anderson Varejão,C,273,28-Sep-82,br,10,NaN,2015,CLE,lost
369,369,3,Dion Waiters,SG,215,10-Dec-91,us,2,Syracuse,2015,CLE,lost

In [6]:
roster.dtypes

Unnamed: 0      int64
no              int64
player         object
pos            object
wt              int64
birth_date     object
nationality    object
exp            object
college        object
year            int64
team           object
result         object
dtype: object