In [8]:
# Import Dependencies
import os
import pandas as pd
from matplotlib import pyplot as plt
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

# Import password from config file
from config import password

In [2]:
# Reading roster file as csv
file = os.path.join('Resources', 'finals_roster.csv')
roster = pd.read_csv(file)
roster

,no,Player,pos,wt,birth_date,nationality,exp,college,year,team,result
0,17,Brent Barry,SG,185,31-Dec-71,us,9,Oregon State,2005,SAS,win
1,12,Bruce Bowen,SF,185,14-Jun-71,us,8,Cal State Fullerton,2005,SAS,win
2,23,Devin Brown,SG,220,30-Dec-78,us,2,Texas-San Antonio,2005,SAS,win
3,21,Tim Duncan,PF,250,25-Apr-76,vi,7,Wake Forest,2005,SAS,win
4,20,Manu Ginóbili,SG,205,28-Jul-77,ar,2,NaN,2005,SAS,win
...,...,...,...,...,...,...,...,...,...,...,...
365,4,Iman Shumpert,SG,215,26-Jun-90,us,3,Georgia Tech,2015,CLE,lost
366,5,J.R. Smith,SG,225,9-Sep-85,us,10,NaN,2015,CLE,lost
367,13,Tristan Thompson,PF,254,13-Mar-91,ca,3,Texas,2015,CLE,lost
368,17,Anderson Varejão,C,273,28-Sep-82,br,10,NaN,2015,CLE,lost
369,3,Dion Waiters,SG,215,10-Dec-91,us,2,Syracuse,2015,CLE,lost

In [3]:
# Checking the roster datatypes
roster.dtypes

no              int64
Player         object
pos            object
wt              int64
birth_date     object
nationality    object
exp            object
college        object
year            int64
team           object
result         object
dtype: object

In [4]:
# Create engine
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/ETL_Project')

In [5]:
# Inspect engine and get table names
inspector = inspect(engine)
inspector.get_table_names()

['draft', 'finals_roster']

In [6]:
# Pandas df for draft
draft_reader = pd.read_sql('SELECT * FROM draft', engine)
draft_reader

,id,team,player,college,play_yrs,games,year,pick
0,1,PIT,Clifton McNeeley,University of Texas at El Paso,NA,NA,1947,1
1,2,TRH,Glen Selbo,University of Wisconsin,1,13,1947,2
2,3,BOS,Bulbs Ehlers,Purdue University,2,99,1947,3
3,4,PRO,Walt Dropo,University of Connecticut,NA,NA,1947,4
4,5,NYK,Dick Holub,Long Island University,1,48,1947,5
...,...,...,...,...,...,...,...,...
7958,7959,PHI,Ray Spalding,University of Louisville,1,1,2018,56
7959,7960,OKC,Kevin Hervey,University of Texas at Arlington,NA,NA,2018,57
7960,7961,DEN,Thomas Welsh,"University of California, Los Angeles",1,3,2018,58
7961,7962,PHO,George King,University of Colorado,NA,NA,2018,59
7962,7963,PHI,Kostas Antetokounmpo,University of Dayton,NA,NA,2018,60

In [7]:
# Pandas df for finals rosters
roster_reader = pd.read_sql('SELECT * FROM finals_roster', engine)
roster_reader

,no,player,pos,wt,birth_date,nationality,exp,college,year,team,result
0,17,Brent Barry,SG,185,31-Dec-71,us,9,Oregon State,2005,SAS,win
1,12,Bruce Bowen,SF,185,14-Jun-71,us,8,Cal State Fullerton,2005,SAS,win
2,23,Devin Brown,SG,220,30-Dec-78,us,2,Texas-San Antonio,2005,SAS,win
3,21,Tim Duncan,PF,250,25-Apr-76,vi,7,Wake Forest,2005,SAS,win
4,20,Manu Ginóbili,SG,205,28-Jul-77,ar,2,None,2005,SAS,win
...,...,...,...,...,...,...,...,...,...,...,...
365,4,Iman Shumpert,SG,215,26-Jun-90,us,3,Georgia Tech,2015,CLE,lost
366,5,J.R. Smith,SG,225,9-Sep-85,us,10,None,2015,CLE,lost
367,13,Tristan Thompson,PF,254,13-Mar-91,ca,3,Texas,2015,CLE,lost
368,17,Anderson Varejão,C,273,28-Sep-82,br,10,None,2015,CLE,lost
369,3,Dion Waiters,SG,215,10-Dec-91,us,2,Syracuse,2015,CLE,lost