In [ ]:
import pandas as pd

In [ ]:
# build url to loop through years
range = [2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]
base_url = 'https://www.basketball-reference.com/teams/SAS/'
year = '2005'
url = base_url + year + '.html'
print(url)

In [ ]:
# read only the first table
table = pd.read_html(url)
table

In [ ]:
# testing for loop to get roster by year.  manually select team and years to loop through
range = [2005,2007,2014]
sas_roster = pd.DataFrame()
for year in range:
    print(year)
    url = base_url + str(year) + '.html'
    table = pd.read_html(url)
    roster = table[0]
    roster['Year'] = year
    roster['Team'] = 'San Antonio Spurs'
    sas_roster = sas_roster.append(roster)

sas_roster


# sas_2005 = table[0]
# sas_2005['Year'] = 2005
# sas_2005['Team'] = "San Antonio Spurs"
# sas_2005

In [85]:
# iterate through dictionary of Finals winners (2005-2015), scrape data from web and build a DataFrame of roster for all 10 years
winners = {2005: 'SAS', 2006: 'MIA',2007: 'SAS',2008: 'BOS',2009: 'LAL',2010: 'LAL',2011: 'DAL',2012: 'MIA',2013: 'MIA',2014:'SAS',2015: 'GSW'}
base_url = 'https://www.basketball-reference.com/teams/'
winners_roster = pd.DataFrame()
for key, value in winners.items():
    # print(year)
    url = base_url + value + '/' + str(key) + '.html'
    table = pd.read_html(url)
    roster = table[0]
    roster['Year'] = key
    roster['Team'] = value
    roster['Result'] = 'win'
    winners_roster = winners_roster.append(roster)

winners_roster = winners_roster.rename(columns={'Unnamed: 6': 'Nationality'})
winners_roster.reset_index(drop=True, inplace=True)

winners_roster.tail()

,No.,Player,Pos,Ht,Wt,Birth Date,Nationality,Exp,College,Year,Team,Result
175,34,Shaun Livingston,PG,6-7,192,"September 11, 1985",us,9,NaN,2015,GSW,win
176,20,James Michael McAdoo,PF,6-9,230,"January 4, 1993",us,R,UNC,2015,GSW,win
177,4,Brandon Rush,SG,6-6,220,"July 7, 1985",us,6,Kansas,2015,GSW,win
178,5,Marreese Speights,C,6-10,255,"August 4, 1987",us,6,Florida,2015,GSW,win
179,11,Klay Thompson,SG,6-6,215,"February 8, 1990",us,3,Washington State,2015,GSW,win

In [87]:
# iterate through dictionary of Finals losers (2005-2015), scrape data from web and build a DataFrame of roster for all 10 years
losers = {2005: 'DET', 2006: 'DAL',2007: 'CLE',2008: 'LAL',2009: 'ORL',2010: 'BOS',2011: 'MIA',2012: 'OKC',2013: 'SAS',2014:'MIA',2015: 'CLE'}
base_url = 'https://www.basketball-reference.com/teams/'
losers_roster = pd.DataFrame()
for key, value in losers.items():
    # print(year)
    url = base_url + value + '/' + str(key) + '.html'
    table = pd.read_html(url)
    roster = table[0]
    roster['Year'] = key
    roster['Team'] = value
    roster['Result'] = 'lost'
    losers_roster = losers_roster.append(roster)

losers_roster = losers_roster.rename(columns={'Unnamed: 6': 'Nationality'})
losers_roster.reset_index(drop=True, inplace=True)

losers_roster.tail()

,No.,Player,Pos,Ht,Wt,Birth Date,Nationality,Exp,College,Year,Team,Result
185,4,Iman Shumpert,SG,6-5,215,"June 26, 1990",us,3,Georgia Tech,2015,CLE,lost
186,5,J.R. Smith,SG,6-6,225,"September 9, 1985",us,10,NaN,2015,CLE,lost
187,13,Tristan Thompson,PF,6-9,254,"March 13, 1991",ca,3,Texas,2015,CLE,lost
188,17,Anderson Varejão,C,6-10,273,"September 28, 1982",br,10,NaN,2015,CLE,lost
189,3,Dion Waiters,SG,6-3,215,"December 10, 1991",us,2,Syracuse,2015,CLE,lost

In [88]:
losers_roster

,No.,Player,Pos,Ht,Wt,Birth Date,Nationality,Exp,College,Year,Team,Result
0,30,Carlos Arroyo,PG,6-2,202,"July 30, 1979",pr,3,Florida International University,2005,DET,lost
1,1,Chauncey Billups,PG,6-3,202,"September 25, 1976",us,7,Colorado,2005,DET,lost
2,41,Elden Campbell,C,6-11,215,"July 23, 1968",us,14,Clemson,2005,DET,lost
3,44,Derrick Coleman,C,6-10,230,"June 21, 1967",us,14,Syracuse,2005,DET,lost
4,20,Carlos Delfino,SG,6-6,230,"August 29, 1982",ar,R,NaN,2005,DET,lost
...,...,...,...,...,...,...,...,...,...,...,...,...
185,4,Iman Shumpert,SG,6-5,215,"June 26, 1990",us,3,Georgia Tech,2015,CLE,lost
186,5,J.R. Smith,SG,6-6,225,"September 9, 1985",us,10,NaN,2015,CLE,lost
187,13,Tristan Thompson,PF,6-9,254,"March 13, 1991",ca,3,Texas,2015,CLE,lost
188,17,Anderson Varejão,C,6-10,273,"September 28, 1982",br,10,NaN,2015,CLE,lost
189,3,Dion Waiters,SG,6-3,215,"December 10, 1991",us,2,Syracuse,2015,CLE,lost

In [89]:
winners_roster

,No.,Player,Pos,Ht,Wt,Birth Date,Nationality,Exp,College,Year,Team,Result
0,17,Brent Barry,SG,6-6,185,"December 31, 1971",us,9,Oregon State,2005,SAS,win
1,12,Bruce Bowen,SF,6-7,185,"June 14, 1971",us,8,Cal State Fullerton,2005,SAS,win
2,23,Devin Brown,SG,6-5,220,"December 30, 1978",us,2,Texas-San Antonio,2005,SAS,win
3,21,Tim Duncan,PF,6-11,250,"April 25, 1976",vi,7,Wake Forest,2005,SAS,win
4,20,Manu Ginóbili,SG,6-6,205,"July 28, 1977",ar,2,NaN,2005,SAS,win
...,...,...,...,...,...,...,...,...,...,...,...,...
175,34,Shaun Livingston,PG,6-7,192,"September 11, 1985",us,9,NaN,2015,GSW,win
176,20,James Michael McAdoo,PF,6-9,230,"January 4, 1993",us,R,UNC,2015,GSW,win
177,4,Brandon Rush,SG,6-6,220,"July 7, 1985",us,6,Kansas,2015,GSW,win
178,5,Marreese Speights,C,6-10,255,"August 4, 1987",us,6,Florida,2015,GSW,win
179,11,Klay Thompson,SG,6-6,215,"February 8, 1990",us,3,Washington State,2015,GSW,win

In [90]:
# merge both winners and losers roster in one dataframe
finals_roster = pd.merge(winners_roster, losers_roster, how='outer')
finals_roster

,No.,Player,Pos,Ht,Wt,Birth Date,Nationality,Exp,College,Year,Team,Result
0,17,Brent Barry,SG,6-6,185,"December 31, 1971",us,9,Oregon State,2005,SAS,win
1,12,Bruce Bowen,SF,6-7,185,"June 14, 1971",us,8,Cal State Fullerton,2005,SAS,win
2,23,Devin Brown,SG,6-5,220,"December 30, 1978",us,2,Texas-San Antonio,2005,SAS,win
3,21,Tim Duncan,PF,6-11,250,"April 25, 1976",vi,7,Wake Forest,2005,SAS,win
4,20,Manu Ginóbili,SG,6-6,205,"July 28, 1977",ar,2,NaN,2005,SAS,win
...,...,...,...,...,...,...,...,...,...,...,...,...
365,4,Iman Shumpert,SG,6-5,215,"June 26, 1990",us,3,Georgia Tech,2015,CLE,lost
366,5,J.R. Smith,SG,6-6,225,"September 9, 1985",us,10,NaN,2015,CLE,lost
367,13,Tristan Thompson,PF,6-9,254,"March 13, 1991",ca,3,Texas,2015,CLE,lost
368,17,Anderson Varejão,C,6-10,273,"September 28, 1982",br,10,NaN,2015,CLE,lost
369,3,Dion Waiters,SG,6-3,215,"December 10, 1991",us,2,Syracuse,2015,CLE,lost

In [91]:
finals_roster.to_csv('finals_roster.csv')
winners_roster.to_csv('winners_roster.csv')
losers_roster.to_csv('losers_roster.csv')

In [92]:
finals_roster['Player'].value_counts()

LeBron James          6
Udonis Haslem         5
Dwyane Wade           5
James Jones           5
Shannon Brown         4
                     ..
Derrick Coleman       1
Alexis Ajinça         1
Serge Ibaka           1
Javaris Crittenton    1
Michael Doleac        1
Name: Player, Length: 244, dtype: int64