In [4]:
import pandas as pd

In [5]:
# build url to loop through years
range = [2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015]
base_url = 'https://www.basketball-reference.com/teams/SAS/'
year = '2005'
url = base_url + year + '.html'
print(url)

https://www.basketball-reference.com/teams/SAS/2005.html

In [6]:
# read only the first table
table = pd.read_html(url)
table

[    No.            Player Pos    Ht   Wt         Birth Date Unnamed: 6 Exp  \
 0    17       Brent Barry  SG   6-6  185  December 31, 1971         us   9
 1    12       Bruce Bowen  SF   6-7  185      June 14, 1971         us   8
 2    23       Devin Brown  SG   6-5  220  December 30, 1978         us   2
 3    21        Tim Duncan  PF  6-11  250     April 25, 1976         vi   7
 4    20     Manu Ginóbili  SG   6-6  205      July 28, 1977         ar   2
 5     1       Dion Glover  SG   6-5  228   October 22, 1978         us   5
 6     5      Robert Horry  PF  6-10  240    August 25, 1970         us  12
 7    43    Linton Johnson  SF   6-8  205      June 13, 1980         us   1
 8     4        Sean Marks  PF  6-10  250    August 23, 1975         nz   4
 9    34   Tony Massenburg  PF   6-9  220      July 31, 1967         us  12
 10    2     Nazr Mohammed   C  6-10  221  September 5, 1977         us   6
 11    8  Rasho Nesterović   C   7-0  248       May 30, 1976         si   6
 12    9       Tony Parker  PG   6-2  185       May 17, 1982         be   3
 13    3    Glenn Robinson  SF   6-7  225   January 10, 1973         us  10
 14   31        Malik Rose  PF   6-7  250  November 23, 1974         us   8
 15   14        Beno Udrih  PG   6-3  205       July 5, 1982         si   R
 16   11        Mike Wilks  PG  5-10  185        May 7, 1979         us   2

                 College
 0          Oregon State
 1   Cal State Fullerton
 2     Texas-San Antonio
 3           Wake Forest
 4                   NaN
 5          Georgia Tech
 6               Alabama
 7                Tulane
 8            California
 9              Maryland
 10             Kentucky
 11                  NaN
 12                  NaN
 13               Purdue
 14               Drexel
 15                  NaN
 16      Rice University  ,
     Rk        Unnamed: 1  Age   G  GS    MP   FG   FGA    FG%   3P  ...  \
 0    1       Tony Parker   22  80  80  34.2  6.7  14.0  0.482  0.5  ...
 1    2        Tim Duncan   28  66  66  33.4  7.8  15.8  0.496  0.0  ...
 2    3       Bruce Bowen   33  82  82  32.0  3.1   7.3  0.420  1.2  ...
 3    4     Manu Ginóbili   27  74  74  29.6  5.0  10.5  0.471  1.3  ...
 4    5  Rasho Nesterović   28  70  70  25.5  2.8   6.1  0.460  0.0  ...
 5    6       Brent Barry   33  81   8  21.5  2.4   5.7  0.423  1.2  ...
 6    7      Robert Horry   34  75  16  18.6  2.1   5.0  0.419  0.7  ...
 7    8       Devin Brown   26  67   0  18.5  2.6   6.1  0.423  0.7  ...
 8    9     Nazr Mohammed   27  23   5  18.0  2.4   6.2  0.387  0.0  ...
 9   10    Glenn Robinson   32   9   0  17.4  3.8   8.6  0.442  0.2  ...
 10  11        Malik Rose   30  50   1  17.2  2.5   5.3  0.464  0.0  ...
 11  12        Beno Udrih   22  80   2  14.4  2.2   4.9  0.444  0.7  ...
 12  13   Tony Massenburg   37  61   6  11.5  1.2   3.0  0.407  0.0  ...
 13  14        Sean Marks   29  23   0  10.6  1.2   3.5  0.338  0.0  ...
 14  15       Dion Glover   26   7   0   9.7  1.1   3.1  0.364  0.1  ...
 15  16    Linton Johnson   24   2   0   7.5  0.0   1.0  0.000  0.0  ...
 16  17        Mike Wilks   25  48   0   5.8  0.7   1.6  0.416  0.1  ...

       FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF  PTS/G
 0   0.650  0.6  3.1   3.7  6.1  1.2  0.1  2.7  2.1   16.6
 1   0.670  3.1  8.0  11.1  2.7  0.7  2.6  1.9  2.2   20.3
 2   0.634  0.6  2.9   3.5  1.5  0.7  0.5  0.7  2.1    8.2
 3   0.803  1.0  3.4   4.4  3.9  1.6  0.4  2.3  2.6   16.0
 4   0.467  2.6  3.9   6.6  1.0  0.4  1.7  1.0  3.0    5.9
 5   0.837  0.4  2.0   2.3  2.2  0.5  0.2  0.8  1.5    7.4
 6   0.789  1.2  2.4   3.6  1.1  0.9  0.8  0.9  1.8    6.0
 7   0.792  0.6  2.1   2.6  1.4  0.6  0.2  0.8  1.2    7.4
 8   0.571  3.4  3.0   6.4  0.3  0.2  1.4  1.2  2.8    6.2
 9   0.870  0.4  2.2   2.7  0.9  0.4  0.3  0.8  2.1   10.0
 10  0.697  1.9  2.6   4.5  0.8  0.6  0.2  1.1  2.5    6.3
 11  0.753  0.2  0.8   1.0  1.9  0.5  0.1  1.0  1.2    5.9
 12  0.762  0.9  1.8   2.7  0.2  0.3  0.3  0.7  2.0    3.2
 13  0.786  0.8  1.7   2.4  0.3  0.1  0.5  0.6  1.3    3.3
 14  0.800  0.4  1.1   1.6  0.6  0.4  0.4  0.3  1.3    3.6
 15    NaN  0.0  1.5   1.5  0.0  0.5  0.0  0.5  0.5    0.0
 16  0.750  0.1  0.4   0.5  0.7  0.3  0.0  0.3  0.5    1.7

 [17 rows x 28 columns],
     Rk        Unnamed: 1  Age   G    MP   PER    TS%   3PAr    FTr  ORB%  ...  \
 0    1       Tony Parker   22  80  2735  18.0  0.528  0.140  0.289   2.0  ...
 1    2       Bruce Bowen   33  82  2627   9.5  0.521  0.423  0.187   2.2  ...
 2    3        Tim Duncan   28  66  2203  27.0  0.540  0.009  0.437  10.7  ...
 3    4     Manu Ginóbili   27  74  2193  22.3  0.609  0.331  0.567   4.0  ...
 4    5  Rasho Nesterović   28  70  1785  12.0  0.463  0.000  0.070  12.0  ...
 5    6       Brent Barry   33  81  1742  14.0  0.580  0.610  0.294   1.9  ...
 6    7      Robert Horry   34  75  1396  14.9  0.533  0.368  0.291   7.6  ...
 7    8       Devin Brown   26  67  1238  14.6  0.530  0.296  0.318   3.5  ...
 8    9        Beno Udrih   22  80  1149  14.3  0.549  0.364  0.228   1.6  ...
 9   10        Malik Rose   30  50   862  14.0  0.510  0.015  0.371  12.9  ...
 10  11   Tony Massenburg   37  61   699   8.5  0.467  0.000  0.346   9.0  ...
 11  12     Nazr Mohammed   27  23   414  14.2  0.426  0.000  0.394  22.0  ...
 12  13        Mike Wilks   25  48   278  11.0  0.482  0.208  0.208   1.7  ...
 13  14        Sean Marks   29  23   244   8.7  0.412  0.038  0.350   8.6  ...
 14  15    Glenn Robinson   32   9   157  17.2  0.517  0.078  0.299   3.0  ...
 15  16       Dion Glover   26   7    68  14.0  0.473  0.364  0.455   5.2  ...
 16  17    Linton Johnson   24   2    15  -3.4  0.000  0.500  0.000   0.0  ...

     Unnamed: 17  OWS  DWS    WS  WS/48  Unnamed: 22  OBPM  DBPM  BPM  VORP
 0           NaN  3.6  4.5   8.1  0.141          NaN   1.4   0.6  2.0   2.8
 1           NaN  2.1  4.0   6.1  0.111          NaN  -1.4   1.2 -0.1   1.2
 2           NaN  5.5  5.7  11.2  0.245          NaN   4.8   2.8  7.6   5.4
 3           NaN  6.4  4.6  11.0  0.240          NaN   4.1   2.8  6.9   4.9
 4           NaN  0.5  3.8   4.2  0.114          NaN  -2.7   1.9 -0.7   0.6
 5           NaN  3.5  2.7   6.1  0.168          NaN   1.1   1.3  2.4   1.9
 6           NaN  1.4  3.1   4.6  0.157          NaN   0.2   2.8  3.0   1.8
 7           NaN  1.6  2.1   3.7  0.145          NaN   0.2   1.1  1.3   1.0
 8           NaN  1.3  1.8   3.1  0.128          NaN   0.1   0.8  0.9   0.9
 9           NaN  0.6  1.7   2.3  0.130          NaN  -2.2   0.8 -1.4   0.1
 10          NaN -0.3  1.4   1.1  0.078          NaN  -6.0   0.7 -5.4  -0.6
 11          NaN -0.1  0.9   0.8  0.095          NaN  -3.9  -0.8 -4.7  -0.3
 12          NaN  0.1  0.5   0.6  0.099          NaN  -3.2   2.1 -1.1   0.1
 13          NaN -0.3  0.5   0.2  0.038          NaN  -5.9  -0.1 -6.0  -0.2
 14          NaN  0.2  0.3   0.5  0.147          NaN   0.1   0.6  0.7   0.1
 15          NaN  0.1  0.1   0.2  0.150          NaN  -0.5   3.0  2.4   0.1
 16          NaN -0.1  0.0   0.0 -0.122          NaN -10.8   0.9 -9.9   0.0

 [17 rows x 27 columns],
     Rk            Player  Age   G  GS    MP   FG   FGA    FG%   3P  ...  \
 0    1        Tim Duncan   28  23  23  37.8  8.6  18.5  0.464  0.0  ...
 1    2       Tony Parker   22  23  23  37.3  7.2  15.9  0.454  0.4  ...
 2    3       Bruce Bowen   33  23  23  35.4  2.0   5.6  0.359  1.3  ...
 3    4     Manu Ginóbili   27  23  15  33.6  6.3  12.4  0.507  1.8  ...
 4    5      Robert Horry   34  23   0  26.9  3.2   7.1  0.448  1.7  ...
 5    6       Brent Barry   33  23   8  24.1  2.1   4.6  0.457  1.2  ...
 6    7     Nazr Mohammed   27  23  23  23.0  2.9   5.4  0.528  0.0  ...
 7    8        Beno Udrih   22  21   0  11.5  1.3   3.7  0.359  0.5  ...
 8    9    Glenn Robinson   32  13   0   8.7  1.2   3.5  0.356  0.2  ...
 9   10  Rasho Nesterović   28  15   0   7.6  0.3   0.8  0.417  0.0  ...
 10  11       Devin Brown   26  12   0   5.0  0.6   1.7  0.350  0.3  ...
 11  12   Tony Massenburg   37   9   0   3.1  0.1   0.7  0.167  0.0  ...

       FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS
 0   0.717  3.8  8.7  12.4  2.7  0.3  2.3  2.7  2.9  23.6
 1   0.632  0.6  2.3   2.9  4.3  0.7  0.1  3.1  3.0  17.2
 2   0.647  0.4  2.5   2.9  1.6  0.5  0.6  0.7  3.3   5.7
 3   0.795  0.8  5.0   5.8  4.2  1.2  0.3  2.9  3.0  20.8
 4   0.732  2.0  3.4   5.4  2.0  0.9  0.9  0.9  2.3   9.3
 5   0.810  0.6  1.9   2.4  1.9  0.7  0.2  1.2  1.9   6.1
 6   0.638  3.3  3.4   6.7  0.3  0.6  1.0  1.0  2.8   7.1
 7   0.857  0.2  0.6   0.8  1.0  0.4  0.0  1.0  1.0   3.7
 8   0.882  0.2  1.5   1.6  0.1  0.2  0.5  0.5  1.5   3.8
 9   0.000  0.7  1.0   1.7  0.1  0.1  0.3  0.3  1.1   0.7
 10  0.571  0.1  0.5   0.6  0.3  0.1  0.0  0.1  0.3   1.8
 11  0.500  0.4  0.8   1.2  0.0  0.0  0.0  0.0  0.2   0.3

 [12 rows x 28 columns],
     Rk            Player  Age   G   MP   PER    TS%   3PAr    FTr  ORB%  ...  \
 0    1        Tim Duncan   28  23  869  24.9  0.526  0.012  0.482  12.2  ...
 1    2       Tony Parker   22  23  858  12.0  0.490  0.131  0.238   1.8  ...
 2    3       Bruce Bowen   33  23  814   5.4  0.487  0.523  0.133   1.3  ...
 3    4     Manu Ginóbili   27  23  772  24.8  0.652  0.336  0.647   3.0  ...
 4    5      Robert Horry   34  23  618  17.9  0.591  0.521  0.252   9.1  ...
 5    6       Brent Barry   33  23  555  10.5  0.617  0.629  0.200   2.9  ...
 6    7     Nazr Mohammed   27  23  528  16.3  0.559  0.008  0.376  17.3  ...
 7    8        Beno Udrih   22  21  241   7.7  0.463  0.474  0.179   2.0  ...
 8    9  Rasho Nesterović   28  15  114   5.6  0.388  0.000  0.167  11.8  ...
 9   10    Glenn Robinson   32  13  113  11.7  0.476  0.222  0.378   2.2  ...
 10  11       Devin Brown   26  12   60  10.0  0.455  0.350  0.350   2.0  ...
 11  12   Tony Massenburg   37   9   28   5.6  0.218  0.000  0.333  17.4  ...

     Unnamed: 17  OWS  DWS   WS  WS/48  Unnamed: 22  OBPM  DBPM  BPM  VORP
 0           NaN  1.9  1.6  3.5  0.191          NaN   4.0   1.5  5.5   1.6
 1           NaN -0.2  0.7  0.6  0.032          NaN  -1.5  -1.3 -2.7  -0.2
 2           NaN  0.3  0.7  1.0  0.060          NaN  -2.4   1.5 -0.8   0.2
 3           NaN  3.0  1.2  4.2  0.260          NaN   6.1   3.1  9.2   2.2
 4           NaN  1.6  1.0  2.6  0.199          NaN   4.2   3.4  7.6   1.5
 5           NaN  0.6  0.6  1.2  0.107          NaN   0.0   1.5  1.6   0.5
 6           NaN  0.9  0.9  1.7  0.158          NaN  -0.1   1.5  1.3   0.4
 7           NaN -0.3  0.3  0.0  0.000          NaN  -3.1  -0.2 -3.3  -0.1
 8           NaN  0.0  0.2  0.1  0.048          NaN  -3.8   1.3 -2.5   0.0
 9           NaN  0.0  0.2  0.2  0.073          NaN  -3.8   1.6 -2.2   0.0
 10          NaN  0.0  0.1  0.1  0.070          NaN   0.4   0.0  0.4   0.0
 11          NaN  0.0  0.0  0.0  0.015          NaN  -4.1  -3.1 -7.1   0.0

 [12 rows x 27 columns]]

In [ ]:
# testing for loop to get roster by year.  manually select team and years to loop through
range = [2005,2007,2014]
sas_roster = pd.DataFrame()
for year in range:
    print(year)
    url = base_url + str(year) + '.html'
    table = pd.read_html(url)
    roster = table[0]
    roster['Year'] = year
    roster['Team'] = 'San Antonio Spurs'
    sas_roster = sas_roster.append(roster)

sas_roster


# sas_2005 = table[0]
# sas_2005['Year'] = 2005
# sas_2005['Team'] = "San Antonio Spurs"
# sas_2005

In [7]:
# iterate through dictionary of Finals winners (2005-2015), scrape data from web and build a DataFrame of roster for all 10 years
winners = {2005: 'SAS', 2006: 'MIA',2007: 'SAS',2008: 'BOS',2009: 'LAL',2010: 'LAL',2011: 'DAL',2012: 'MIA',2013: 'MIA',2014:'SAS',2015: 'GSW'}
base_url = 'https://www.basketball-reference.com/teams/'
winners_roster = pd.DataFrame()
for key, value in winners.items():
    # print(year)
    url = base_url + value + '/' + str(key) + '.html'
    table = pd.read_html(url)
    roster = table[0]
    roster['Year'] = key
    roster['Team'] = value
    roster['Result'] = 'win'
    winners_roster = winners_roster.append(roster)

winners_roster = winners_roster.rename(columns={'Unnamed: 6': 'Nationality'})
winners_roster.reset_index(drop=True, inplace=True)

winners_roster.tail()

,No.,Player,Pos,Ht,Wt,Birth Date,Nationality,Exp,College,Year,Team,Result
175,34,Shaun Livingston,PG,6-7,192,"September 11, 1985",us,9,NaN,2015,GSW,win
176,20,James Michael McAdoo,PF,6-9,230,"January 4, 1993",us,R,UNC,2015,GSW,win
177,4,Brandon Rush,SG,6-6,220,"July 7, 1985",us,6,Kansas,2015,GSW,win
178,5,Marreese Speights,C,6-10,255,"August 4, 1987",us,6,Florida,2015,GSW,win
179,11,Klay Thompson,SG,6-6,215,"February 8, 1990",us,3,Washington State,2015,GSW,win

In [8]:
# iterate through dictionary of Finals losers (2005-2015), scrape data from web and build a DataFrame of roster for all 10 years
losers = {2005: 'DET', 2006: 'DAL',2007: 'CLE',2008: 'LAL',2009: 'ORL',2010: 'BOS',2011: 'MIA',2012: 'OKC',2013: 'SAS',2014:'MIA',2015: 'CLE'}
base_url = 'https://www.basketball-reference.com/teams/'
losers_roster = pd.DataFrame()
for key, value in losers.items():
    # print(year)
    url = base_url + value + '/' + str(key) + '.html'
    table = pd.read_html(url)
    roster = table[0]
    roster['Year'] = key
    roster['Team'] = value
    roster['Result'] = 'lost'
    losers_roster = losers_roster.append(roster)

losers_roster = losers_roster.rename(columns={'Unnamed: 6': 'Nationality'})
losers_roster.reset_index(drop=True, inplace=True)

losers_roster.tail()

,No.,Player,Pos,Ht,Wt,Birth Date,Nationality,Exp,College,Year,Team,Result
185,4,Iman Shumpert,SG,6-5,215,"June 26, 1990",us,3,Georgia Tech,2015,CLE,lost
186,5,J.R. Smith,SG,6-6,225,"September 9, 1985",us,10,NaN,2015,CLE,lost
187,13,Tristan Thompson,PF,6-9,254,"March 13, 1991",ca,3,Texas,2015,CLE,lost
188,17,Anderson Varejão,C,6-10,273,"September 28, 1982",br,10,NaN,2015,CLE,lost
189,3,Dion Waiters,SG,6-3,215,"December 10, 1991",us,2,Syracuse,2015,CLE,lost

In [9]:
# merge both winners and losers roster in one dataframe
finals_roster = pd.merge(winners_roster, losers_roster, how='outer')
finals_roster

,No.,Player,Pos,Ht,Wt,Birth Date,Nationality,Exp,College,Year,Team,Result
0,17,Brent Barry,SG,6-6,185,"December 31, 1971",us,9,Oregon State,2005,SAS,win
1,12,Bruce Bowen,SF,6-7,185,"June 14, 1971",us,8,Cal State Fullerton,2005,SAS,win
2,23,Devin Brown,SG,6-5,220,"December 30, 1978",us,2,Texas-San Antonio,2005,SAS,win
3,21,Tim Duncan,PF,6-11,250,"April 25, 1976",vi,7,Wake Forest,2005,SAS,win
4,20,Manu Ginóbili,SG,6-6,205,"July 28, 1977",ar,2,NaN,2005,SAS,win
...,...,...,...,...,...,...,...,...,...,...,...,...
365,4,Iman Shumpert,SG,6-5,215,"June 26, 1990",us,3,Georgia Tech,2015,CLE,lost
366,5,J.R. Smith,SG,6-6,225,"September 9, 1985",us,10,NaN,2015,CLE,lost
367,13,Tristan Thompson,PF,6-9,254,"March 13, 1991",ca,3,Texas,2015,CLE,lost
368,17,Anderson Varejão,C,6-10,273,"September 28, 1982",br,10,NaN,2015,CLE,lost
369,3,Dion Waiters,SG,6-3,215,"December 10, 1991",us,2,Syracuse,2015,CLE,lost

In [13]:
# sort finals roster by year and team
finals_roster = finals_roster.sort_values(by=['Year','Team'], ascending=False)
finals_roster

,No.,Player,Pos,Ht,Wt,Birth Date,Nationality,Exp,College,Year,Team,Result
166,40,Harrison Barnes,SF,6-8,225,"May 30, 1992",us,2,UNC,2015,GSW,win
175,34,Shaun Livingston,PG,6-7,192,"September 11, 1985",us,9,NaN,2015,GSW,win
168,30,Stephen Curry,PG,6-3,185,"March 14, 1988",us,5,Davidson,2015,GSW,win
176,20,James Michael McAdoo,PF,6-9,230,"January 4, 1993",us,R,UNC,2015,GSW,win
167,12,Andrew Bogut,C,7-0,260,"November 28, 1984",au,9,Utah,2015,GSW,win
...,...,...,...,...,...,...,...,...,...,...,...,...
193,7,Smush Parker,PG,6-4,190,"June 1, 1981",us,1,Fordham,2005,DET,lost
180,30,Carlos Arroyo,PG,6-2,202,"July 30, 1979",pr,3,Florida International University,2005,DET,lost
195,3,Ben Wallace,C,6-9,240,"September 10, 1974",us,8,Virginia Union University,2005,DET,lost
196,36,Rasheed Wallace,PF,6-10,225,"September 17, 1974",us,9,UNC,2005,DET,lost
185,12,Ronald Dupree,SF,6-7,209,"January 26, 1981",us,1,LSU,2005,DET,lost

In [14]:
# export dataframes to csv
finals_roster.to_csv('finals_roster.csv')
winners_roster.to_csv('winners_roster.csv')
losers_roster.to_csv('losers_roster.csv')

In [38]:
# find how many times each player has appeared in finals
finals_appearance = finals_roster['Player'].value_counts()

In [16]:
# send dataframe to html for webpage
finals_roster.to_html("finals_roster.htm", index=False)
html_file = finals_roster.to_html()

In [22]:
# find how many wins each player has
finals_wins = finals_roster[finals_roster['Result'] == 'win'].groupby('Player')['Result'].count()

In [23]:
finals_wins

Player
Adam Morrison          2
Alexis Ajinça          1
Alonzo Mourning        1
Andre Iguodala         1
Andrew Bogut           1
                      ..
Trevor Ariza           1
Tyson Chandler         1
Udonis Haslem          3
Vladimir Radmanović    1
Wayne Simien           1
Name: Result, Length: 139, dtype: int64

In [27]:
# find how many losses each player has
finals_lost = finals_roster[finals_roster['Result'] == 'lost'].groupby('Player')['Result'].count()
print(finals_lost)

Player
A.J. Price             1
Adonal Foyle           1
Adrian Griffin         1
Alex Kirk              1
Anderson Varejão       2
                      ..
Tyronn Lue             1
Udonis Haslem          2
Vladimir Radmanović    1
Will Cherry            1
Zydrunas Ilgauskas     2
Name: Result, Length: 163, dtype: int64

In [39]:
# create dataframes for each series
df_appear = pd.Series(finals_appearance, name='Finals')
df_win = pd.Series(finals_wins, name='Won')
df_lost = pd.Series(finals_lost, name='Lost')
# pd.concat([finals_lost, finals_wins], axis=1)

In [40]:
# combine all three series into one dataframe and replace NaN with zero
roster_stats = pd.concat([df_appear, df_win, df_lost], axis=1)
roster_stats = roster_stats.fillna(0)

In [43]:
# sort df by how many finals player has appeared in
roster_stats = roster_stats.sort_values(by='Finals', ascending=False)
roster_stats

                 Finals  Won  Lost
LeBron James          6  2.0   4.0
James Jones           5  2.0   3.0
Dwyane Wade           5  3.0   2.0
Udonis Haslem         5  3.0   2.0
Mike Miller           4  2.0   2.0
...                 ...  ...   ...
Antonio McDyess       1  0.0   1.0
Peja Stojaković       1  1.0   0.0
J.R. Giddens          1  0.0   1.0
Daniel Gibson         1  0.0   1.0
J.J. Barea            1  1.0   0.0

[244 rows x 3 columns]

In [45]:
roster_stats.to_html("roster_stats.htm")
html_file = roster_stats.to_html()